<!DOCTYPE html>
<html ng-app="userProfiles">
<head>
    <meta charset="utf-8">
    <title>mini-userProfiles</title>
    <link rel="stylesheet" href="styles.css">

</head>
<body ng-controller="MainController">
    
     <div ng-repeat="user in users" ng-class="{favorite: user.isFavorite}">
         <p>Name: {{user.first_name}}<span> {{user.last_name}}</span></p>
         <p>Id: {{user.id}}</p>
         <img ng-src="{{user.avatar}}"><br/>
         <button ng-click="toggleFavorite($index)">Toggle Favorite</button>

     </div>

     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
     <script src="app.js"></script>
     <script src="controller.js"></script>
    <script src="mainService.js"></script>
</body>
</html>